<style>
body{
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: sans-serif, arial, verdana;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 17px;
}

p{ 
    padding-top: 10px;
	padding-bottom: 5px;
	font-family: sans-serif, arial, verdana;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 17px;
}

h1{
    padding-top: 30px;
    font-family: sans-serif, arial, verdana;
    font-size: 28px;
    color: #2a8391;
}

h2{
    padding-top: 30px;
    font-family: sans-serif, arial, verdana;
    font-size: 24px;
    color: #486d26;
}

h3{
    padding-top: 30px;
    font-family: sans-serif, arial, verdana;
    font-size: 20px;
}

h4{
    padding-top: 30px;
    font-family: sans-serif, arial, verdana;
    font-size: 18px;
}
.sum-btn{
	background-color: #3089c9;
	text-align: center;
	color: white;
	padding: 3px;
	border-radius: 5px;
	font-size: 17px;
}

.highlight{
	background-color: yellow;
	padding: 20px;
}

.post{
	padding: 20px;
	margin: 20px;
	max-width: 800px;
	background: #eee;
}

.li, ul, ol{
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: sans-serif, arial, verdana;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 17px;
}

#mydiv{
	transition: opacity 1s;
}

#mydiv2{
	transition: color 2s;
}

#mydiv3{
	display: inline-block;
	padding: 30px;
	transition: transform 0.2s;
}
#mydiv4{
	transition: all 0.2s;
}

#magdiv{
	font-family: sans-serif, arial, verdana;
	background-color: darkolivegreen;
	color:darkkhaki;
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	transition: all 0.2s;
}

#overlay{
	background: rgba(33,33,33,0.8);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#lightbox_container{
	position: fixed;
	text-align: center;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

#lightbox{
	width: 400px;
	height: 300px;
	background-color: #f8f7f3;
	border-radius: 5px;
	padding: 20px;
	position: relative;
	display: iniline-block;
	margin-top: 20px;
}

#hide{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
</style>